body {
  background-color: #ffffff;
  color: #fff;

  font-size: 75%;
  @media (min-width:576px) {
    font-size: 100%;
  }
  @media (min-width:768px) {
    font-size: 150%;
  }

  .calc-content-cont {
    height: 100%;
    border: 4px solid #C5C5C5;
    border-radius: 4px;
    box-shadow: 2px 2px 0px 2px #9D9D9D;

    .calc-row {
      height: 16.67%;

      .calc-border {
        background-color: #C5C5C5;

        .calc-button {
          background-color: #3D4F89;
          border: 2px solid #C5C5C5;
          border-radius: 2px;
          height: 100%;
          cursor: default;

          &:hover {
            background-color: #2C3A64;
          }
          &:active {
            background-color: #232E50;
          }
        }
        .action-button {
          background-color: #fff;
          color: #3D4F89;
          &:hover {
            background-color: #D0D0D0;
          }
        }
      }

      .calc-screen-border {
        background-color: #C5C5C5;

        .calc-screen {
          padding-right: 2px;
          height: 100%;
          background-color: #ffffff;
          border: 2px solid #C5C5C5;
          font-family: 'Nova Mono', monospace;
          font-size: 120%;
          color: #000;
        }
      }
    }
  }
}
